@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@theme {
    --font-display: "Cal Sans", serif;
    --font-sans: "Lexend", sans-serif;

	--color-paper: #FFFBF5;
    --color-ink: #1b0e23;
    --color-pink: #FFCDCD;
	--color-grey: #A19E99;
	--color-grey-light: #EAEAEA;
    --color-orchid: #7b2ff7;
    --color-matcha: #acd651;
    --color-matcha-dark: #131808;

    --radius: 0.625rem;
    --radius-sm: calc(var(--radius) * 0.6);
    --radius-md: calc(var(--radius) * 0.8);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) * 1.4);
    --radius-2xl: calc(var(--radius) * 1.8);
    --radius-3xl: calc(var(--radius) * 2.2);
    --radius-4xl: calc(var(--radius) * 2.6);
}

body {
    font-family: var(--font-sans);
    color: var(--color-ink);
	background-color: var(--color-paper);
}

@keyframes drift {
    0%,
    100% {
        translate: 0 0;
    }
    50% {
        translate: 0 -10px;
    }
}

@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.001ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.001ms !important;
    }
}
